header {
	font-size: 90px;
}

footer {
	background-color: blue;
}

body {
 text-align: center;
}

h1 {
	font-size: 50px;
}

a {
	font-size: 25px;
	margin: 50px;
}

p {
	font-size: 20px;
}

.wade {
	float: right;
}